
@import url('https://fonts.googleapis.com/css?family=Amatic+SC');
/*font-family: 'Amatic SC', cursive;*/
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:700');
/*font-family: 'Roboto Condensed', sans-serif;*/
@import url('https://fonts.googleapis.com/css?family=Roboto');
/*font-family: 'Roboto', sans-serif;*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans:800i');
/*font-family: 'Open Sans', sans-serif;*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400i');
/*font-family: 'Open Sans', sans-serif;*/

	body
	{
		background-color: #008080;
	}
	#canvas
	{
		display: block;
		margin: 0px auto;
		background-color: white;
	}
	#statistics
	{
		display: flex;
		flex-direction: row;
		width: 700px;
		height: 50px;
	}
	#health
	{
		display: block;
		width: 200px;
		height: 25px;
		border: 2px solid;
		border-color: red;
	}
	#mana
	{
		display: block;
		width: 200px;
		height: 25px;
		border: 2px solid;
		border-color: blue;
		margin-left: 10px;
	}
	#score
	{
		display: block;
		width: 200px;
		height: 25px;
		border: none;
		color: white;
		background-color: #008080;
		margin-left: 10px;
		outline: none;
		text-align: center;
		font-size: 25px;
	}
	#health-row
	{
		display: block;
		width: 200px;
		height: 25px;
		background-color: red;
	}
	#mana-row
	{
		display: block;
		width: 200px;
		height: 25px;
		background-color: blue;
	}

	#afterdeath{
		margin-top: 50px;
		display: none;
		grid-gap: 50px;
		margin-left: 250px;
		margin-right: 250px;
		grid-template-rows: 1fr 1fr;
		grid-template-columns: 700px 700px;
		text-align: center;
		font-size: 2em;
		font-family: "Arial";
		user-select: none;
		cursor: pointer;
	}

	#afterdeath a{
		text-decoration: none;
		color: white;
	}
	#text{
		margin-right: 10px;
		text-align: right;
		cursor: auto;
	}

	#entername input{
		width: 80%;
	}
	#restab{
		display: grid;
		text-align: center;
		margin: 0px auto;
		width: 100%;
		grid-template-columns: 30% 30% 30%;
		grid-template-rows: 5em 5em 5em 5em 5em 5em 5em 5em 5em 5em 5em 5em;
		grid-gap: 10px;
		font-family: 'Open Sans', sans-serif;
		color: white;
	}
	.usertab{
		font-family: 'Amatic SC', cursive;
		color: white;
		font-size: 3rem;
	}

	.anstab{
		font-family: 'Amatic SC', cursive;
		color: white;
		font-size: 3rem;
	}

	.timetab{
		font-family: 'Amatic SC', cursive;
		color: white;
		font-size: 3rem;
	}
