	
@import url('https://fonts.googleapis.com/css?family=Amatic+SC');
/*font-family: 'Amatic SC', cursive;*/
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:700');
/*font-family: 'Roboto Condensed', sans-serif;*/
@import url('https://fonts.googleapis.com/css?family=Roboto');
/*font-family: 'Roboto', sans-serif;*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans:800i');
/*font-family: 'Open Sans', sans-serif;*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400i');
/*font-family: 'Open Sans', sans-serif;*/

	body
	{
		color: white;
		background-color:  #6F4E37;
	}
	.text
	{
		margin-left: 20px;
		font-size: 25px;
	}
	#canvas
	{
		display: block;
		margin: 0px auto;
		background-color: white;
	}
	#statistics
	{
		display: flex;
		flex-direction: row;
		width: 1400px;
		height: 50px;
	}
	#health
	{
		display: block;
		width: 200px;
		height: 25px;
		border: 2px solid;
		border-color: red;
	}
	#mana
	{
		display: block;
		width: 200px;
		height: 25px;
		border: 2px solid;
		border-color: blue;
		margin-left: 10px;
	}
	#score
	{
		display: block;
		width: 50px;
		height: 25px;
		border: none;
		color: white;
		background-color:  #6F4E37;
		margin-left: 10px;
		outline: none;
		text-align: center;
		font-size: 25px;
	}
	#money
	{
		display: block;
		width: 50px;
		height: 25px;
		border: none;
		color: white;
		background-color:  #6F4E37;
		margin-left: 10px;
		outline: none;
		text-align: center;
		font-size: 25px;
	}
	
	#health-row
	{
		display: block;
		width: 200px;
		height: 25px;
		background-color: red;
	}
	#mana-row
	{
		display: block;
		width: 200px;
		height: 25px;
		background-color: blue;
	}

	#afterdeath{
		margin-top: 50px;
		display: none;
		grid-gap: 50px;
		width: 100%;
		grid-template-rows: 1fr 1fr;
		grid-template-columns: 1fr 1fr;
		text-align: center;
		font-size: 2em;
		font-family: 'Open Sans', sans-serif;
		user-select: none;
		cursor: pointer;
	}

	#afterdeath a{
		text-decoration: none;
		color: white;
	}

	#afterdeath input{
		width: 500px;
		margin: 0px auto;
		font-family: 'Amatic SC', cursive;
		color: black;
		font-size: 1em;
		font-weight: 700;
	    text-align: center;
	    text-decoration: none;
	}

	#afterdeath a:hover{
		color: red;
		transition-duration: 0.25s;
	}

	#text{
		margin-right: 10px;
		text-align: right;
		cursor: auto;
	}

	#entername input{
		width: 80%;
	}
	#restab{
		display: grid;
		text-align: center;
		margin: 0px auto;
		width: 100%;
		grid-template-columns: 30% 30% 30%;
		grid-template-rows: 5em 5em 5em 5em 5em 5em 5em 5em 5em 5em 5em 5em;
		grid-gap: 10px;
		font-family: 'Open Sans', sans-serif;
		color: white;
	}
	.usertab{
		font-family: 'Amatic SC', cursive;
		color: white;
		font-size: 3rem;
	}

	.anstab{
		font-family: 'Amatic SC', cursive;
		color: white;
		font-size: 3rem;
	}

	.timetab{
		font-family: 'Amatic SC', cursive;
		color: white;
		font-size: 3rem;
	}
	.btnLevelUp
	{
		background-color: #4F3827;
		color: white;
		font-size: 25px;
		width: 140px;
		height: 30px;
		border: none;
		margin-left: 20px;
	}
	#btnLevelUpDamage
	{
		text-decoration: none;
	}
	#btnLevelUpHealth
	{
		text-decoration: none;	
	}
	#btnLevelUpMana
	{
		text-decoration: none;
	}

